
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff6b6b, #556270);
    color: #fff;
}

header {
    background: linear-gradient(to right, #4b6cb7, #182848);
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    width: 80%;
    margin: 2em auto;
    text-align: center;
    border-radius: 8px;
    overflow: hidden; /* Ensure the gradient animation stays within the box */
    animation: gradientAnimation 5s infinite alternate; /* Apply the gradient animation */
}

img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

h2,
p {
    margin-bottom: 15px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

button {
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #007BFF, #0056b3);
}

@keyframes gradientAnimation {
    0% {
        background: linear-gradient(to right, #3498db, #8e44ad);
    }
    50% {
        background: linear-gradient(to right, #2ecc71, #e74c3c);
    }
    100% {
        background: linear-gradient(to right, #3498db, #8e44ad);
    }
}

